header {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    background-color: #84a59d;
    height: 60px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #fff;
}